@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('./styles.css');

* {
  font-family: "Proxima Nova" !important;
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: #ffffff7c;
  -webkit-text-size-adjust: 20px;
}

.news-letter input:-webkit-autofill,
.news-letter input:-webkit-autofill:hover,
.news-letter input:-webkit-autofill:focus,
.news-letter input:-webkit-autofill:active {
  -webkit-background-clip: unset;
  -webkit-backdrop-filter: none;
  -webkit-text-fill-color: #2d2d2d !important;
  @apply !bg-white;
  -webkit-text-size-adjust: 17px;
}

.date_scroller::-webkit-scrollbar {
  @apply w-0
}

progress::-webkit-progress-value {
  @apply bg-secondary rounded-[5px]
}

progress::-webkit-progress-bar {
  @apply rounded-[5px] bg-transparent
}

.font-myriad {
  font-family: "Myriad Pro Regular";
}

button:disabled {
  @apply !bg-white/50
}

.region_dropdown .ant-select-selector {
  padding: 0 56px !important;
}

.discover-card-bg {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 34.64%, rgba(0, 0, 0, 0.83) 100%);
}


.ant-select-arrow {
  display: none !important;
}

.region_dropdown .ant-select-selection-search {
  @apply !pl-[45px] !font-medium
}

.region_dropdown .ant-select-selection-item {
  @apply font-medium
}

.ant-empty-description, .ant-empty {
  @apply !text-[white] opacity-[50%]
}

.ant-picker {
  @apply !px-[46px] !py-[9px]
}

.ant-picker-cell-in-view {
  @apply !text-[black]
}

.ant-picker-content th {
  @apply !text-slate-600
}

.ant-picker-body {
  @apply !pt-0
}

.ant-picker-cell-disabled {
  @apply !text-opacity-[25%] !bg-none
}

.ant-picker-header-super-next-btn.ant-picker-header-super-next-btn-disabled,
.ant-picker-header-next-btn.ant-picker-header-next-btn-disabled {
  @apply !bg-transparent
}

.ant-picker-suffix,
.ant-picker-clear {
  @apply !text-white opacity-[50%] !hidden
}

.ant-picker-input {
  @apply !font-medium
}

.profile .ant-select-selector {
  @apply xl:pl-[26px] !font-medium xl:h-[56px] !important
}

.profile .ant-select-selection-search {
  @apply xl:ml-[15px] !font-semibold !important
}

.profile .ant-select-selection-item {
  @apply !font-semibold !text-[20px]
}

.home-footer-container .ant-collapse-expand-icon {
  @apply text-white scale-110 pt-1;
}

.ant-upload.ant-upload-select {
  @apply !border !border-[#8A8A8A]
}

.ant-upload.ant-upload-select:hover {
  @apply !border !border-[#8A8A8A]
}

.ant-upload-list-item-actions {
  @apply !hidden
}

.ant-upload-list-item {
  @apply !p-0 !border !border-[#8A8A8A] !border-dashed
}

.ant-upload-list-item:hover::before {
  @apply !opacity-0
}

.ant-upload-list-picture-card {
  @apply !flex flex-wrap !w-full
}

.ant-upload-list-item-container, .ant-upload-select {
  @apply w-[calc(100%/3-14px)] !h-auto sm:w-[calc(100%/5-8px)] !mr-[14px] min-h-[160px] !important
}


.country-container_filter .ant-select-selector {
  @apply !border-none !px-[20px] !text-[16px] !font-medium
}

.country-container_filter .ant-select-selection-search {
  @apply !px-[8px]
}

/* notification drawer */

.ant-drawer-content-wrapper {
  @apply w-full md:w-[467px] !important
}

.ant-drawer:focus-visible {
  @apply !outline-none
}

/* swipe card start */
.moving.profile-card {
  transition: none;
  @apply cursor-grabbing
}

/* swipe card end */

/* popup_upload_pic */


.ant-popover-inner {
  @apply !rounded-[5px] !p-[8px] !text-white !shadow-none;
}

.ant-popconfirm-description {
  @apply !m-0 !text-[white]
}

.ant-popconfirm-title {
  @apply !text-white
}

.ant-popover {
  @apply !z-[2]
}

.rootHeaderPopOver {
  @apply mt-2;
}

.rootHeaderPopOver .ant-popover-arrow,
.rootHeaderPopOver .ant-popover-content {
  @apply !top-2;
}

.rootHeaderPopOver .ant-popover-content .ant-popover-inner {
  @apply !rounded-none;
}

.ant-popover.ant-popconfirm {
  @apply w-[180px] sm:w-auto !important
}

.report-container .ant-modal-content {
  @apply !p-3 !px-0 !pt-0 !rounded-md
}

.verify-container .ant-modal-content {
  @apply !p-0 !rounded-none overflow-hidden;
}

.verify-cancel-container .ant-modal-content {
  @apply !p-0 !rounded-[5px] overflow-hidden;
}

.dob-container .ant-modal-content {
  @apply !p-0 !rounded-[5px]
}


/* / Notification CSS / */
.ant-notification-notice-message {
  @apply !mb-0 !text-white;
}

.ant-notification-notice-wrapper {
  @apply !bg-primary-dark-3
}

.ant-notification-notice-close-icon {
  @apply !text-white
}

.bg-subscription {
  background: linear-gradient(88deg, #F1BB22 -28.79%, #F6DB8E 117.13%);
}


/* Animista */

.slide-in-bottom {
  -webkit-animation: slide-in-bottom 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-in-bottom 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

.loader {
  display: flex;
  position: relative;
}

.loader:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: auto;
  box-sizing: border-box;
  border: 15px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: loader 1.2s infinite;
}

@keyframes loader {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  100% {
    transform: rotate(1800deg);
  }
}

.bg-tinder {
  /* background: linear-gradient(270deg, #FF695B 0%, #FE426F 100%); */
  @apply bg-gradient-to-l from-tinder-1 from-0% to-tinder-2 to-100%;
}


/* Loader */
.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-hourglass 1.2s infinite;
}

@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  100% {
    transform: rotate(1800deg);
  }
}



.loaderLogo {
  animation: scaleAnimation 1s infinite;
}

@keyframes scaleAnimation {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}


.background-no {
  background: linear-gradient(171deg, rgba(253, 243, 243, 1) 0%, rgba(241, 102, 103, 1) 100%);
}


.otpContainer input {
  outline: none !important;
  color: #000;
  background: #FFF;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 5px;
}

/* phone number dropdown */
.react-tel-input .country-list {
  @apply !max-h-[160px];
}

/* phone number dropdown */

.blur-image {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, rgba(0, 0, 0, 0.83) 100%);

  backdrop-filter: blur(7.5px);
}