@tailwind base;
@tailwind components;
@tailwind utilities;

input::-ms-reveal,
input::-ms-clear {
  display: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: #ffffff7c;
  -webkit-text-size-adjust: 20px;
}

.font-myriad {
  font-family: "Myriad Pro Regular";
}

button:disabled {
  @apply !bg-opacity-50
}

.region_dropdown .ant-select-selector {
  padding: 0 46px !important;
}



.ant-select-arrow {
  display: none !important;
}

.region_dropdown .ant-select-selection-search {
  @apply !pl-[35px] !font-medium
}

.region_dropdown .ant-select-selection-item {
  @apply font-medium
}

.ant-empty-description, .ant-empty {
  @apply !text-[white] opacity-[50%]
}

.ant-picker {
  @apply !px-[46px] !py-[9px]
}

.ant-picker-cell-in-view {
  @apply !text-[black]
}

.ant-picker-content th {
  @apply !text-slate-600
}

.ant-picker-body {
  @apply !pt-0
}

.ant-picker-cell-disabled {
  @apply !text-opacity-[25%]
}

.ant-picker-suffix,
.ant-picker-clear {
  @apply !text-white opacity-[50%] !hidden
}

.ant-picker-input {
  @apply !font-medium
}