.ant-popover-inner {
  @apply !rounded-none;
}

.ant-popover-arrow {
  @apply !right-[6px];
}

.ant-popover-arrow::before {
  @apply !w-[8px];
}

.ant-popover-content {
  @apply !right-[14px];
}

.chat-container::-webkit-scrollbar {
  width: 8px;
  display: none;
  /* Width of the scrollbar */
}

/* Track (the area behind the scrollbar) */
.chat-container::-webkit-scrollbar-track {
  @apply bg-white/10 rounded-lg;

  /* Color of the track */
}

/* Handle (the draggable part of the scrollbar) */
.chat-container::-webkit-scrollbar-thumb {
  @apply rounded-lg bg-primary-dark-4;
  /* Color of the scrollbar handle */
}

/* Handle on hover */
.chat-container::-webkit-scrollbar-thumb:hover {
  background: #555;
  /* Color of the scrollbar handle on hover */
}

/* message popover */
.message-container .ant-popover-content {
  @apply !right-[6px] !bottom-[9px];
}

.message-container .ant-popover-arrow {
  @apply !bottom-[1px];
}